<h1>Request Filtering</h1>
<hr/>
<h3>File Extensions Filter</h3>
<a href="~/Images/Hisham.jpg">Allow jpg files</a><br/>
<a href="~/PSDs/Hisham.psd">Deny psd files</a>

<h3>HTTP Verbs Filter</h3>
<a href="/">Allow GET verb</a><br />
<form action="/" method="post">
    <a href="javascript:{}" onclick="document.forms[0].submit();">Deny non GET verb</a>
</form>

<h3>Query Strings Filter</h3>
<a href="/?id=1">Allow "id" query string</a><br />
<a href="/?name=Jon">Deny "name" query string</a><br />
<a href="/?level=1st">Deny other than "id" query string</a>

<h3>Hidden Segments Filter</h3>
<a href="~/PSDs/Hisham.psd">Deny "Private" segment</a>

<h3>Headers Filter</h3>
<a href="#" onclick="requestWithHeader(['X-Auth','true']);">Allow "X-Auth" header with size less than or eqal 5 bytes</a><br/>
<a href="#" onclick="requestWithHeader(['X-Auth', 'invalid']);">Deny "X-Auth" header with size greater than 5 bytes</a>

<script>
    function requestWithHeader(header) {
        var xhr = new XMLHttpRequest()
        xhr.open("GET", "/", true);
        xhr.setRequestHeader(header[0], header[1]);

        xhr.send();
    }
</script>